{{ addRoomForm.valid | json }}
{{ addRoomForm.invalid | json }}
{{ addRoomForm.pristine | json }}
{{ addRoomForm.dirty | json }}
<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>
<form #addRoomForm="ngForm" (ngSubmit)="addRoom(addRoomForm)">
  <!-- <div class="form-group">
    <select class="form-control" name="cars">
      <option value="" disabled selected hidden>Choose car</option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div> -->
  <div class="form-group">
    <input
      required
      class="form-control"
      type="text"
      placeholder="Room Type"
      name="roomType"
      [(ngModel)]="room.roomType"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="number"
      placeholder="Price(per night)"
      name="price"
      [(ngModel)]="room.price"
    />
  </div>
  <div class="form-group">
    <input
      #roomAmenities="ngModel"
      required
      minlength="5"
      maxlength="200"
      class="form-control"
      type="text"
      placeholder="Amenities"
      name="amenities"
      [(ngModel)]="room.amenities"
    />
  </div>
  <div class="alert alert-danger" *ngIf="roomAmenities.errors?.['minlength']">
    length need to be more than 5 charecters
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="text"
      placeholder="photos(paste Link)"
      name="photos"
      [(ngModel)]="room.photos"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="datetime"
      placeholder="Check in Time"
      name="checkinTime"
      [(ngModel)]="room.checkinTime"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      placeholder="Check Out Time"
      name="checkOutTime"
      [(ngModel)]="room.checkoutTime"
    />
  </div>
  <div class="form-group">
    <input
      min="1"
      max="5"
      class="form-control"
      type="number"
      placeholder="Rating"
      name="rating"
      [(ngModel)]="room.rating"
    />
  </div>
  <div>
    <button class="btn btn-primary" [disabled]="addRoomForm.invalid">
      Add Room
    </button>
  </div>
</form>
