<div>
  <h6>RoomList:</h6>
  <!-- {{ roomList | json }} -->
</div>

<div
  *ngFor="let room of rooms | pricefilter : price!; let e = even; let o = odd"
>
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Room No:{{ room.roomNumber }}</mat-card-title>
        <mat-card-subtitle>{{ room.roomType }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        *ngIf="room.roomType === 'Deluxe Room'"
        src="https://media.istockphoto.com/id/487313304/photo/luxurious-living-room.webp?b=1&s=612x612&w=0&k=20&c=QkmyUDTR0u3QTQePA8TDHVdbQEgyP8RbaNk-cltJfDw="
        alt="Photo of a deluxe room"
      />
      <img
        mat-card-image
        *ngIf="room.roomType === 'Private Suite'"
        src="https://media.istockphoto.com/id/1195372008/photo/hotel-room-condominium-or-apartment-doorway-with-open-door-in-front-of-blur-bedroom.webp?b=1&s=612x612&w=0&k=20&c=Q7oOrR2WyFFsfu0PJa8rtu9EQpTJNNYwp5JLU7tppRg="
        alt="Photo of a deluxe room"
      />
      <mat-card-content>
        <p>
          {{ room.amenities }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="btn btn-primary"
          [routerLink]="['/booking', room.roomNumber]"
        >
          Book Room
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- <button class="btn btn-primary" (click)="selectRoom(room)">select</button>
    <button class="btn btn-secondary" (click)="editRoom(room)">
      edit Room
    </button>
    <button class="btn btn-danger" (click)="deleteRoom(room)">delete</button> -->
</div>
